<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_residuo.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_residuo_path(@tipo_residuo) %> |
<%= link_to 'Back', tipo_residuos_path %>
